<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.corkili.learningclient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/the_app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:label="新用户注册" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="用户登录" />
        <activity
            android:name=".ui.activity.TeacherMainActivity" />
        <activity
            android:name=".ui.activity.TeacherCourseEditActivity"
            android:label="课程信息编辑" />
        <activity
            android:name=".ui.activity.TeacherCourseManageActivity"
            android:label="课程详情" />
        <activity
            android:name=".ui.activity.CourseCommentActivity"
            android:label="课程评论" />
        <activity
            android:name=".ui.activity.TeacherCourseSubscriptionActivity"
            android:label="课程订阅列表" />
        <activity
            android:name=".ui.activity.ForumActivity"
            android:label="课程讨论区" />
        <activity
            android:name=".ui.activity.ForumTopicActivity"
            android:label="帖子详情" />
        <activity
            android:name=".ui.activity.QuestionEditActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.activity.CourseWorkActivity"
            android:label="作业列表" />
        <activity
            android:name=".ui.activity.CourseWorkEditActivity"
            android:label="创建作业" />
        <activity
            android:name=".ui.activity.QuestionSelectActivity"
            android:label="选择试题" />
        <activity
            android:name=".ui.activity.ExamActivity"
            android:label="考试列表" />
        <activity
            android:name=".ui.activity.ExamEditActivity"
            android:label="创建考试" />
        <activity
            android:name=".ui.activity.MessageActivity"
            android:label="查看消息" />
        <activity
            android:name=".ui.activity.StudentMainActivity"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".ui.activity.StudentCourseDetailActivity"
            android:label="课程详情" />
        <activity
            android:name=".ui.activity.CourseWorkDetailActivity"
            android:label="作业详情" />
        <activity
            android:name=".ui.activity.ExamDetailActivity"
            android:label="考试详情" />
        <activity
            android:name=".ui.activity.SubmittedCourseWorkActivity"
            android:label="已提交作业列表" />
        <activity
            android:name=".ui.activity.SubmittedExamActivity"
            android:label="已提交试卷列表" />
        <activity
            android:name=".ui.activity.ScormActivity"
            android:label="课件播放" />
        <activity android:name=".ui.activity.CourseCatalogActivity"
            android:label="选择学习活动" />
    </application>

</manifest>